---
layout: layout
title: Cole The Coder
---
		{% for post in paginator.posts %}
        <div class="span12">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		  <h4>{{ post.date | date: "%B %e, %Y" }}</h4>
           <p>{{ post.content }}</p>          
        </div>
		{% endfor %}
        <ul class="pager">
			{% if paginator.next_page %} 
			<li class="previous">
				<a href="/page{{ paginator.next_page }}/">&larr; Older</a>
			</li>
			{% else %}
			<li class="previous disabled">
				&larr; Older
			</li>
			{% endif %}
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<li class="next">
						<a href="/">Newer &rarr;</a>
					</li>
				{% else %}
					<li class="next">
						<a href="/page{{ paginator.previous_page }}/">Newer &rarr;</a>
					</li>
				{% endif %}
			{% else %}
			<li class="next disabled">
				Newer &rarr;
			</li>
			{% endif %}
		</ul>