<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
  </head>
  <body>
<div class="blog" style="margin-top:10px;"> 
<div style="float:left;"> 
<a href="/"><img src="/images/colethecoder(small).png" alt="Customised from noun project dream by James Stone" border="0" height="95" width="100"></a>
</div> 
<div style="float:left; margin-top:10px;"> 
<a href="/"><img alt="Cole The Coder" src="/images/colethecoder(text).png" border="0" height="32" width="290"></a><br/> 
<span class="description" style="margin-left:10px;font-family:"Arial", Times, sans-serif;">programming, management, web...</span> 
</div><br/>
    <div style="clear:left; margin-top:10px;">
      {{ content }}
    </div>
  </body>
</html>
