body
{
	font-family: calibri,tahoma,arial,sans-serif;	
}

a.title-link
{
	color: black;
	font-size: 21px;
	text-decoration: none;
	font-weight: bold;
}

.description
{
	margin-left:10px;
	color:grey;
	font-weight:500;
}

.date
{
	color: #666;
	margin-bottom: 10px;
}

